*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-image: url(waterpixel.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.content{
    display: flex;
    margin-top: 70px;
}
.name{
    margin-left: 200px;
    font-size: 50px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5px 5px 5px burlywood;
}
.sign{
    margin-left: 55%;
    padding: 20px;
    width: 120px;
    border-radius: 30px;
    border: none;
    background-color: skyblue;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div .sign:hover{
    background-color: rgb(39, 176, 245);
}



aside{
    width: 60px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(#02444c,#00545d);
}

.bars{
    margin-top: 80px;
    text-align: center
}

.bar{
    font-size: 20px;
    border: 1px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(99, 136, 153);
    color: white;
}
div .bar:hover{
    background-color: rgba(14, 191, 240, 0.995);
}

.icon {
    position: absolute;
    top: 30%;
    margin-left: 8px;
    text-align: center;
    
}
.icons{
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(99, 136, 153);
}

div .icons:hover{
    background-color: rgba(10, 170, 140, 0.985);
}

section{
    position: absolute;
    top: 40%;
    margin-left: 200px;
}
h6{
    font-size: 30px;
    color: white;
}
.ocean{
    font-size: 100px;
    margin-left: 100px;
    color: white;
}
.button{
    padding: 20px;
    margin-left: 250px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    background-color: rgb(12, 152, 187);
    font-size: 20px;
    font-weight: bold;
    color: rgb(20, 16, 16);
}

section .button:hover{
    background-color: rgb(23, 166, 201);
}

.drops{
    
    width: 50px;
    animation: bubble 7s infinite linear;
    bottom: -80;
}

.drop{
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    position: absolute;
}

@keyframes bubble{
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: translateY(-70vh);
        opacity: 0;
    }
}

.drop .drops:nth-child(1)
{
    animation-delay: 6s;
    
}
.drop .drops:nth-child(2)
{
    animation-delay: 1s;
    width: 30px;
}
.drop .drops:nth-child(3)
{
    animation-delay: 3s;
   
}
.drop .drops:nth-child(4)
{
    animation-delay: 1s;
    width: 25px;
}
.drop .drops:nth-child(5)
{
    animation-delay: 7s;
    width: 35px;
}
.drop .drops:nth-child(6)
{
    animation-delay: 5s;
    
}
.drop .drops:nth-child(7)
{
    animation-delay: 4s;
    width: 35px;
}
.drop .drops:nth-child(8)
{
    animation-delay: 1s;
    
}
.drop .drops:nth-child(9)
{
    animation-delay: 8s;
    
}
.drop .drops:nth-child(10)
{
    animation-delay: 10s;
    
}


